<form method="post" action="/Tasks/Create"> 
Task Name:
<input type="text" name="TaskName" />
Is Done:
<input type="checkbox" name="IsDone" value="true" />
<input type="hidden" name="IsDone" value="false" />
<button type="submit">Create</button>
</form> 